.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.banner-content {
  max-width: 600px;
  padding: 20px;
}

.headline {
  font-size: 2em;
  margin-bottom: 10px;
}

.subheadline {
  font-size: 1.2em;
  margin-bottom: 20px;
}
